* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: #97D4E7; */
  /* background: linear-gradient(to right top, #729ba3, #729ba3); */
  
}

header {
  text-align: center;
  margin: 2%;
  border-radius: 1rem;
  /* background: linear-gradient(to right top, #729ba3, #729ba3); */
  background-color: #97D4E7;
}

.welcome{
  margin: 20px 0;
  font-size: 4rem;
}

select, 
input {
  margin: 20px 0;
  background-color: white;
  font-size: 2rem;
}

.user-info,
table {
  margin: 20px auto;
  padding: 10px;
  border: 2px solid white;
  border-radius: 1rem;
  font-size: 2rem;
}
th {
  text-align: right;
}
td {
  text-align: left;
  font-style: italic;
  padding: 5px;
} 
/* .step-goal {
  width: 50%;
  float: left;
} */

hr {
  /* height: 12px; */
  /* background-color: #353567; */
  border-bottom: 8px solid #353567;
  border-radius: 15px;
  width: 100%;
  /* margin-top: 3.5px; */
  /* margin: 2%; */
}

/*~~~~~~~~~~Main-Start ~~~~~~~~~~~~~~~*/
.slider {
  text-align: center;
  background: #97D4E7;
  margin: 2%;
}
.select-page {
	display: flex;
	justify-content: space-between;
  position: relative;
}
a {
	font-size: 30px; 
  background: lightblue;
  text-decoration: none;
  align-items: center;
  border-radius: 2rem;
  padding: 5px;
  margin: 0 3%;
}
.pages {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.pages > div {
  flex-shrink: 0;
  width: 100%;
  height: 90vh;
  /* background: gray; */

}
.about {
  margin-top: 7%;
}
/*~~~~~~~~~~Main-End ~~~~~~~~~~~~~~~*/